<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunchaser" >

    <!-- Permissions -->

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- OpenGL, needed for displaying maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Application meta-data -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZY6CyxGwmwSZBzSkaBJKHsq8LU5cT4kE" />

        <!-- Activities -->

        <activity
            android:name=".app.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.GeolocationDetailActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunchaser.app.activity.MainActivity" />
        </activity>
        <activity
            android:name=".app.activity.PlaceOfInterestListActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.GeolocationDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunchaser.app.activity.GeolocationDetailActivity" />
        </activity>
        <activity
            android:name=".app.activity.PlaceOfInterestDetailActivity"
            android:label=""
            android:parentActivityName=".app.activity.PlaceOfInterestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunchaser.app.activity.PlaceOfInterestListActivity" />
        </activity>
        <activity
            android:name=".app.activity.PlaceOfInterestMapActivity"
            android:label=""
            android:parentActivityName=".app.activity.GeolocationDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunchaser.app.activity.GeolocationDetailActivity" />
        </activity>
        <activity
            android:name=".app.activity.IntroScreenActivity"
            android:label="@string/title_activity_intro_screen" android:parentActivityName=".app.activity.MainActivity"
            android:noHistory="true"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunchaser.app.activity.MainActivity" />
        </activity>

        <provider
            android:name=".app.data.SunChaserDataProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".app.sync.SunChaserAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".app.sync.SunshineSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>
